@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --fs-small: 0.75rem;
  --fs-base: 1rem;
  --fs-medium: 1.25rem;
  --fs-large: 1.5rem;
  --fs-xlarge: 2rem;
  --fs-xxlarge: 3rem;

  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;

  --accent: #1591ca;
  --accent-hover: #71c5da;

  --br-light: #e2e8f0;
  --br-dark: #1d2124;

  --border: 2px solid;

  --primary-bg: #343a40;
  --white: #fff;

  --btn-cl: #eb6f4c;
  --btn-cl-hover: #e4a695;

  --ff-fallback: "Roboto";
  --ff-primary: "Open sans", var(--ff-fallback), sans-serif;
  --ff-secondary: "Playfair Display", var(--ff-fallback), sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  margin: 0;
  height: 100vh;

  font-family: var(--ff-primary);
}

button {
  cursor: pointer;
}

.l-header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  place-items: center;
  padding: var(--spacing-lg) var(--spacing-xl);
  margin-bottom: var(--spacing-lg);

  background-color: #343a40;
}

.site-icon {
  height: 35px;
  width: 35px;
}

.search-form {
  width: 100%;
}

.search {
  display: flex;
  margin-top: var(--spacing-md);
  width: 100%;
}

.search-input {
  padding: var(--spacing-sm) var(--spacing-md);
  width: clamp(10rem, 100%, 30rem);

  border: 0;
  border-radius: 3px 0px 0px 3px;
}

.search-input:focus {
  outline: none;

  box-shadow: 0px 0 7px var(--accent);
}

.search-btn {
  padding: 0 var(--spacing-sm);

  border: none;
  border-radius: 0px 3px 3px 0px;

  color: var(--white);
  background-color: var(--btn-cl);

  font-weight: var(--fw-bold);
}

.search-btn:hover {
  background-color: var(--btn-cl-hover);
}

.toggleMetric {
  width: 100%;
  padding: var(--spacing-sm) 0;

  background-color: var(--accent);
  color: var(--white);

  border: 0;
  border-radius: 5px;
}

.toggleMetric:hover {
  background-color: var(--accent-hover);
}

.selectedMetric {
  font-size: var(--fs-medium);
  font-weight: bold;
}

@media (min-width: 550px) {
  .l-header {
    flex-direction: row;
    padding: var(--spacing-xl);
  }

  .site-icon {
    width: 40px;
    height: 40px;
  }

  .search {
    margin: 0;
  }

  .toggleMetric {
    width: 10em;
    padding: var(--spacing-sm);
  }
}

@media (min-width: 900px) {
  .search {
    margin-left: 3rem;
  }
}

.mainInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-xl);
}

.city {
  margin-bottom: var(--spacing-sm);

  text-align: center;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-medium);
}

.city-weather {
  margin-bottom: var(--spacing-md);

  text-align: center;
  font-size: var(--fs-large);
}

.city-temperature {
  margin-bottom: var(--spacing-sm);

  text-align: center;
  font-size: var(--fs-xxlarge);
  font-weight: var(--fs-base);
}

.city-highAndLowTemp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hourlyForecastContainer {
  display: flex;
  margin: 0 var(--spacing-lg);
  margin-bottom: var(--spacing-xxl);
  padding: var(--spacing-md) 0;
  gap: 0.5rem;

  border-top: var(--border) var(--br-light);
  border-bottom: var(--border) var(--br-light);

  overflow-x: scroll;
}

.hourlyForecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hourlyForecast-hour {
  margin-bottom: var(--spacing-sm);
}

.hourlyForecast-rainChance {
  color: var(--accent);

  font-weight: var(--fw-medium);
}

.hourlyForecast-weatherImage {
  height: 80px;
  width: auto;
}

.todaysDescription {
  margin-bottom: var(--spacing-xxl);
  padding: 0 var(--spacing-md);

  text-align: center;
  font-family: var(--ff-primary);
  font-size: var(--fs-medium);
}

@media (min-width: 768px) {
  .l-mainDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;

    justify-content: center;
    align-items: center;
  }

  .mainInfo {
    margin: 0;
  }

  .hourlyForecastContainer {
    margin: 0;
    margin-right: var(--spacing-lg);

    font-size: var(--fs-medium);
  }

  .todaysDescription {
    grid-column: 1/-1;
    margin: 0;
  }
}

.dailyForecastContainer {
  display: grid;
  margin-bottom: var(--spacing-xxl);

  align-items: center;
  padding: 0 var(--spacing-lg);
}

.dailyForecast {
  display: grid;
  grid-template-columns: 95px 1fr 1fr;
  align-items: center;
  width: 100%;

  border-bottom: var(--border) var(--br-light);
}

.dailyForecast-weatherImage {
  height: 80px;
  width: auto;

  justify-self: center;
}

.dailyForecast-highAndLowContainer {
  display: flex;
  gap: 20px;

  justify-self: end;
}

@media (min-width: 400px) {
  .dailyForecast {
    grid-template-columns: 1fr 1fr 1fr;

    font-size: var(--fs-medium);
  }

  .dailyForecast-weatherImage {
    height: 100px;
    width: auto;
  }
}

.generalInfo-container {
  padding: var(--spacing-xl);

  background-color: var(--primary-bg);
  color: #fff;

  font-family: var(--ff-secondary);
}

.generalInfo {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg) 0;
  padding-bottom: var(--spacing-md);

  border-bottom: var(--border) var(--br-dark);
}

.generalInfo-title {
  margin-bottom: var(--spacing-sm);

  color: #cbd5e1;
}

.generalInfo-value {
  font-size: var(--fs-medium);
}

@media (min-width: 768px) {
  .generalInfo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .generalInfo {
    border-bottom: none;
    align-items: center;
    justify-content: center;
  }
}

.loader {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;

  border: 15px solid #fff;
  border-top-color: var(--accent);
  border-radius: 50%;

  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from { transform: rotate(0turn);}
  to { transform: rotate(1turn);}
}

.loader-isHidden {
  display: none;
}



/* Utility */

.fs-base {
  font-size: var(--fs-base);
}
